* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/*color: #2f2e2e;*/
	color: #767070;
	font-size: 14px;
	font-family: 'Trebuchet MS', sans-serif;
	/*font-family: Arial, Helvetica, sans-serif;*/
	line-height: 1.5;
}
.container {
	margin: 0 auto;
	max-width: 80%;
	padding: 0 15px;
}
header,
footer {
	display: inline-block;
	width: 100%;
}
header {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2e9e2+0,efbe99+100 */
	background: #f2e9e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2e9e2 0%, #efbe99 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f2e9e2 0%,#efbe99 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f2e9e2 0%,#efbe99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e9e2', endColorstr='#efbe99',GradientType=0 ); /* IE6-9 */

}
footer {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efbe99+0,f2e9e2+100 */
	background: #efbe99; /* Old browsers */
	background: -moz-linear-gradient(top,  #efbe99 0%, #f2e9e2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #efbe99 0%,#f2e9e2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #efbe99 0%,#f2e9e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efbe99', endColorstr='#f2e9e2',GradientType=0 ); /* IE6-9 */
}

a {
	color: #B0694E;
	text-decoration: none;
}
a:hover {
	color: #c8553d;
	text-decoration: underline;
}

/* header*/
header {
	padding: 30px 0;
	text-align: center;
}
header .logo {
	display: inline-block;
	vertical-align: middle;
}
header a.title {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	color: #767070;
	font-size: 22px;
}
header a.title h2 {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 10px;
}
header h3 {
	margin: 0;
}

/* Navigation */
nav {
	padding: 15px 0;
	text-align: center;
	background: #f4f4f4;
  border-top: 2px solid #B0694E;
  border-bottom: 5px solid #B0694E;
}
nav > ul {
	list-style-type: none;
}
nav > ul > li {
	display: inline-block;
}
nav > ul > li a {
	padding-right: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
nav > ul > li a:after {
  content: "/";
  margin-left: 20px;
  color: #718355;
}
nav > ul > li:last-child a:after {
	content: none;
}


/* button design */
button {
	background-color: #B0694E;
	border-color: #f2e9e2;
	padding: 10px 15px;
	border-radius: 0 12px;
	font-size: 16px;
}
button a {
	color: #FFF;
}
button:hover {
	background-color: #f2e9e2;
	border-color: #B0694E
}
button:hover a,
button:hover a:hover {
	color: #000;
	text-decoration: none;
}

/* Side bar */
aside {
	display: table-cell;
	width: 25%;
	padding: 0 15px;
	/*background-color: #eee2df;*/
	vertical-align: top;
}

.aside-holder {
	display: inline-block;
	width: 100%;
	border: 1px solid #B0694E;
	margin-bottom: 25px;
}

.aside-title {
	display: inline-block;
	width: 100%;
	margin: 0;
	background-color: #B0694E;
	color: #FFF;
	text-align: center;
	padding: 5px;
}
.aside-content {
	padding: 15px;
}
.aside-content h3 {
	margin-bottom: 10px;
}
.aside-content h3:first-child {
	margin-top: 0;
}

/*.aside-title {
	position: relative;
	margin: 60px 0 25px;
  text-align: center;
  color: #B0694E;
}
.aside-title:first-child {
	margin-top: 0;
}
.aside-title:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 0;
  margin-bottom: -4px;
  left: calc(50% - 20px);
  background: #efbe99;
}*/

aside .aside-content > ul {
	padding-left: 0;
	list-style-type: none;
}
aside .aside-content > ul > li a {
	font-weight: bold;
}
aside .external-link a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

/* Main page */
main {
	display: table;
	width: 100%;
	padding: 50px 0;
}
.main-side {
	display: table-cell;
	width: 75%;
	padding: 0 15px;
}
.main-side h2 {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	text-align: center;
  color: #B0694E;
}
.main-side h2:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 0;
  margin-bottom: -4px;
  left: calc(50% - 20px);
  background: #efbe99;
}
.main-side .edu-info > ol {
	list-style-type: none;
	padding: 0;
	display: inline-block;
	width: 100%;
}
.main-side .edu-info > ol li {
	float: left;
	display: inline-block;
	width: calc(50% - 8px);
	padding: 16px;
	margin-right: 15px;
	background-color: #eee2df;
}
.main-side .edu-info > ol li:last-child {
	margin-right: 0;
}
.main-side .edu-info > ol li h3 {
	margin-top: 0;
	color: #B0694E;
}
.skill-info > span {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.skill-info .skill-divide {
	display: inline-block;
	width: 100%;
}
.skill-info .skill-divide .skill-prog {
	float: left;
	display: inline-block;
	width: calc(33.33% - 10px);
	margin-right: 15px;
}
.skill-info .skill-divide .skill-prog:nth-child(3n) {
	margin-right: 0;
}

.work-info .cmpny-detail {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #efbe99;
	margin-bottom: 15px;
}
.work-info .cmpny-detail:last-child {
	border-bottom: none;
}
.work-info .cmpny-detail h3,
.work-info .cmpny-detail h4,
.work-info .cmpny-detail h5 {
	margin-bottom: 0;
	margin-top: 0;
	color: #B0694E;
}
.work-info .cmpny-detail p {
	margin-top: 0;
}
.work-port span {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.main-side > div {
	margin-bottom: 25px;
}

/* Blog Page */
aside .popular-blog {
	display: inline-block;
	width: 100%;
	min-height: 60px;
	border-bottom: 1px solid #718355;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
aside .popular-blog:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
aside .popular-blog .image {
	float: left;
	margin-right: 5px;
}
aside .popular-blog h4 {
	margin: 0;
}

.blog-holder {
	display: inline-block;
	width: 100%;
	text-align: justify;
}
.blog-holder .blog-img .img-caption {
	margin-top: 4px;
	color: #B0694E;
}
.blog-holder .blog-desc p {
	font-family: "Lucida Console", "Courier New", monospace;
}
.blog-holder .blog-desc {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;
	-webkit-column-width: 20em;
		 -moz-column-width: 20em;
	        column-width: 20em;
  column-rule: 1px solid #B0694E;
}

/* Progress bar design */
progress[value] {
  width: 100%;
  height: 20px;
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}
progress[value]::-webkit-progress-value {
	background: #efbe99; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #efbe99 0%, #f2e9e2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #efbe99 0%,#f2e9e2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #efbe99 0%,#f2e9e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efbe99', endColorstr='#f2e9e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*
 * Reference
 * https://css-tricks.com/css-only-carousel/ */

.slider-parent {
	display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 500px;
  text-align: center;
  overflow: hidden;
}
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #B0694E;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 500px;
  height: 500px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
.slider img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}


/* Blog list page */
.blog-higlight-holder {
	display: inline-block;
	width: 100%;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px dotted #B0694E;
}
.blog-higlight-holder:last-child {
	border-bottom: none;
}
.blog-higlight-holder .image {
	float: left;
	width: 30%;
	padding-right: 15px;
}
.blog-higlight-holder .title {
	color: #B0694E;
	margin-top: 0;
}

.blog-higlight-holder:nth-child(2n) .image {
	float: right;
	padding-right: 0;
	padding-left: 15px;
}