* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}
.container {
	margin: 0 auto;
	max-width: 80%;
	padding: 0 15px;
}
header,
footer {
	display: inline-block;
	width: 100%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e9f5db+0,b5c99a+100 */
	background: #e9f5db; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #e9f5db 0%, #b5c99a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #e9f5db 0%,#b5c99a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #e9f5db 0%,#b5c99a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f5db', endColorstr='#b5c99a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a {
	color: #718355;
	text-decoration: none;
}
a:hover {
	color: #84a98c;
}

/* header*/
header {
	padding: 30px 0;
	text-align: center;
}
header .logo {
	display: inline-block;
	vertical-align: middle;
}
header a.title {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}
header a.title h2 {
	margin: 0;
}
header h5 {
	margin: 0;
}

/* Navigation */
nav {
	padding: 15px 0;
	text-align: center;
	background: #f4f4f4;
  border-top: 2px solid #000;
  border-bottom: 5px solid #000;
}
nav > ul {
	list-style-type: none;
}
nav > ul > li {
	display: inline-block;
}
nav > ul > li a {
	padding-right: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
nav > ul > li a:after {
  content: "/";
  margin-left: 20px;
  color: #718355;
}
nav > ul > li:last-child a:after {
	content: none;
}

/* Side bar */
aside {
	display: table-cell;
	width: 25%;
	height: 100vh;
	padding: 15px;
	background-color: #f4f4f4;
	vertical-align: top;
}
.aside-aboutus {
	text-align: center;
}
.aside-title {
	position: relative;
	margin: 60px 0 25px;
  text-align: center;
  color: #718355;
}
.aside-title:first-child {
	margin-top: 0;
}
.aside-title:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 0;
  margin-bottom: -4px;
  left: calc(50% - 20px);
  background: #718355;
}
aside > ul {
	padding-left: 0;
	list-style-type: none;
}
aside > ul > li {
	padding: 15px 0;
	border-bottom: 1px solid #718355;
}

/* Main page */
main {
	display: table;
	width: 100%;
	padding: 30px 0;
}
.main-side {
	display: table-cell;
	width: 75%;
	padding: 0 15px;
}
.main-side h2 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	text-align: center;
  color: #718355;
}
.main-side .edu-info > ol {
	list-style-type: none;
	padding: 0;
	display: inline-block;
	width: 100%;
}
.main-side .edu-info > ol li {
	float: left;
	display: inline-block;
	width: calc(50% - 8px);
	padding: 16px;
	margin-right: 15px;
	background-color: #f4f4f4;
}
.main-side .edu-info > ol li:last-child {
	margin-right: 0;
}
.main-side .edu-info > ol li h3 {
	margin-top: 0;
}
.skill-info > span {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.skill-info .skill-prog {
	float: left;
	display: inline-block;
	width: calc(50% - 8px);
	margin-right: 16px;
}
.skill-info .skill-prog:nth-child(even) {
	margin-right: 0;
}


/* Blog Page */
aside .popular-blog {
	border-bottom: 1px solid #718355;
	margin-bottom: 15px;
}
aside .popular-blog:last-child {
	border-bottom: none;
}
aside .popular-blog .image {
	display: inline-block;
	vertical-align: middle;
}
aside .popular-blog .title {
	display: inline-block;
	vertical-align: middle;
}

.blog-holder {
	display: inline-block;
	width: 100%;
	text-align: center;

}