* {
	box-sizing: border-box;
}

body {
	margin: 0;
	/*color: #2f2e2e;*/
	color: #767070;
	font-size: 14px;
	font-family: 'Trebuchet MS', sans-serif;
	/*font-family: Arial, Helvetica, sans-serif;*/
	line-height: 1.5;
}
.container {
	margin: 0 auto;
	max-width: 80%;
	padding: 0 15px;
}
header,
footer {
	display: inline-block;
	width: 100%;
}
header {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2e9e2+0,efbe99+100 */
	background: #f2e9e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2e9e2 0%, #efbe99 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f2e9e2 0%,#efbe99 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f2e9e2 0%,#efbe99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e9e2', endColorstr='#efbe99',GradientType=0 ); /* IE6-9 */

}
footer {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efbe99+0,f2e9e2+100 */
	background: #efbe99; /* Old browsers */
	background: -moz-linear-gradient(top,  #efbe99 0%, #f2e9e2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #efbe99 0%,#f2e9e2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #efbe99 0%,#f2e9e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efbe99', endColorstr='#f2e9e2',GradientType=0 ); /* IE6-9 */
}

a {
	color: #B0694E;
	text-decoration: none;
}
a:hover {
	color: #c8553d;
}

/* header*/
header {
	padding: 30px 0;
	text-align: center;
}
header .logo {
	display: inline-block;
	vertical-align: middle;
}
header a.title {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	color: #767070;
	font-size: 22px;
}
header a.title h2 {
	margin: 0;
}
header h3 {
	margin: 0;
}

/* Navigation */
nav {
	padding: 15px 0;
	text-align: center;
	background: #f4f4f4;
  border-top: 2px solid #B0694E;
  border-bottom: 5px solid #B0694E;
}
nav > ul {
	list-style-type: none;
}
nav > ul > li {
	display: inline-block;
}
nav > ul > li a {
	padding-right: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
nav > ul > li a:after {
  content: "/";
  margin-left: 20px;
  color: #718355;
}
nav > ul > li:last-child a:after {
	content: none;
}
/* button design */
button {
	background-color: #B0694E;
	border-color: #f2e9e2;
	padding: 10px 15px;
	border-radius: 0 12px;
	font-size: 16px;
}
button a {
	color: #FFF;
}
button:hover {
	background-color: #f2e9e2;
	border-color: #B0694E
}
button:hover a,
button:hover a:hover {
	color: #000;
}



/* Side bar */
aside {
	display: table-cell;
	width: 25%;
	padding: 0 15px;
	/*background-color: #eee2df;*/
	vertical-align: top;
}

.aside-holder {
	display: inline-block;
	width: 100%;
	border: 1px solid #B0694E;
	margin-bottom: 25px;
}

.aside-title {
	display: inline-block;
	width: 100%;
	margin: 0;
	background-color: #B0694E;
	color: #FFF;
	text-align: center;
	padding: 5px;
}
.aside-content {
	padding: 15px;
}
.aside-content h3 {
	margin-bottom: 10px;
}
.aside-content h3:first-child {
	margin-top: 0;
}
aside .aside-content > ul {
	padding-left: 0;
	list-style-type: none;
}
aside .aside-content > ul > li a {
	font-weight: bold;
}
aside .external-link a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

/* Main page */
main {
	display: table;
	width: 100%;
	padding: 30px 0;
}
.main-side {
	display: table-cell;
	width: 75%;
	padding: 0 15px;
}
.main-side > h2 {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 0;
	text-align: center;
  color: #B0694E;
}
.main-side > h2:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 0;
  margin-bottom: -4px;
  left: calc(50% - 20px);
  background: #efbe99;
}
.blog-higlight-holder {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
	border-bottom: 1px dotted #B0694E;
}

.blog-higlight-holder .image {
	float: left;
	width: 30%;
	padding-right: 15px;
}
.blog-higlight-holder .title {
	color: #B0694E;
	margin-top: 0;
}

.blog-higlight-holder:nth-child(2n) .image {
	float: right;
	padding-right: 0;
	padding-left: 15px;
}
/*.blog-higlight-holder:nth-child(2n) .image {*/
.blog-higlight-holder:nth-last-child(2) {
	border-bottom: none;
}
.viewmore {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}


table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 35px;
}
table td,
table th {
	border: 1px solid #B0694E;
  padding: 8px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #B0694E;
  color: white;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
